yt-dlp==2023.10.07  # Specify a stable version if needed
whisper
transformers
accelerate
torch
pytesseract
pydub
webrtcvad
easyocr
groq
opencv-python-headless
git+https://github.com/openai/whisper.git
ngrok
streamlit
